.overlay {
    background: rgba(39, 42, 43, 0.8);
    color: #FFF;
    /*background-color: rgba(255,255,255,.5);*/
    /*color: black;*/
}

.table {
    text-align: left;
}

#mars {
    background-image: url("public/img/mars_terrain.jpg");
}

#pluto {
    background-image: url("public/img/pluto_terrain.jpg");
}

#venus {
    background-image: url("public/img/venus_terrain.jpg");
}

#curiosity {
    background-color: #AAAAAA;
}

#freespirit, #magnitizer {
    background-color: #D2D0B9;
}

#batmobile {
    background-color: #FFFFFF;
}

#interface {
    background-image: url("public/img/game_screen.png");
}

.paralax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}