.overlay {
    background: rgba(39, 42, 43, 0.8);
    color: #FFF;
}

.overlay-light {
    background: rgba(255,255,255,0.2);
}

.table {
    text-align: left;
}

#mars {
    background-image: url("public/img/mars_terrain.jpg");
}

#pluto {
    background-image: url("public/img/pluto_terrain.jpg");
}

#venus {
    background-image: url("public/img/venus_terrain.jpg");
}

#curiosity {
    background-color: #AAA;
}

#freespirit, #magnitizer {
    background-color: #D2D0B9;
}

#batmobile {
    background-color: #FFF;
}

#enemies {
    background-image: url("public/img/pacman.jpg");
}

#interface {
    background-image: url("public/img/game_screen.png");
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

@media (max-width: 575px) {
    .parallax {
        background-image: none !important;
    }
}